body {
  font-family: 'Usuazi Hosomozi', Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.right {
  transform: rotate(45deg);
  left: -12%;
}

.left,
.right {
  top: 50%;
}

.top {
  top: 16%;
}

.center {
  top: 50%;
}

.bottom {
  top: 86%;
}

.top,
.center,
.bottom {
  left: -15%;
}

.vertical-left,
.vertical-right,
.vertical-center {
  transform: rotate(90deg);
  top: 50%;
}

.vertical-left {
  left: -47%;
}

.vertical-center {
  left: -13%;
}

.vertical-right {
  left: 20%;
}

.timer {
  color: #8b8585;
}

.reboot {
  padding-top: 30px;
}
